@use '@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

$turchese: #0FA3B1;
$azzuro: #B5E2FA;
$sabbia: #EDDEA4;
$arancione: #F7A072;
$biancosporco: #F9F7F3;

.apartment-show {
    .thumb-img-container {
        height: 300px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            display: block;
            margin: auto
        }
    }
}
<<<<<<< HEAD
=======

.user-dashboard{
    .background-image-profile{
        background-color: $turchese;
    }
}

.my-btn-turchese{
    background-color: $turchese;
    color: white;
}

.my-btn-sabbia{
    background-color: $sabbia;
    &:hover{
        border-color: $sabbia;
    }
}

.my-btn-outline-sabbia{
    border-color: $sabbia;
    &:hover{
        background-color: $sabbia;
    }
}
>>>>>>> 63e6ad4315d6e39f36300a42863d5ff15230e43a
